@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    .btnPrimary{
        @apply text-[#434343] bg-primary border-[1px] border-primary lg:max-w-2xl hover:bg-[#ACADAD] hover:text-primary  hover:bg-opacity-50 focus:outline-none font-medium text-sm lg:text-xl lg:w-full lg:h-full  flex justify-center content-center text-center mr-4 py-2 cursor-pointer active:scale-90 transition-all duration-75 ease-out;
    }
    .btnSecondary{
        @apply text-[#336470] border-[1px] border-borderColor lg:max-w-2xl hover:bg-[#ACADAD]  hover:bg-opacity-50 focus:outline-none font-medium text-sm lg:text-xl lg:w-full lg:h-full px-5  flex justify-center content-center text-center mr-4 py-2 cursor-pointer active:scale-90 transition-all duration-75 ease-out;
    }

    .section-title{
        @apply text-lg lg:text-2xl font-medium text-start text-white active:scale-90 transition-all duration-75 ease-out;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    div#smooth-content{
        @apply overflow-x-hidden
    }

    .main-tree-background {
        @apply bg-[#CEFEFF];
    }
    .pink-tree-background {
        @apply bg-[#FEF4FF];
    }
    .green-tree-background {
        @apply bg-[#E6FFF0];
    }
    .red-tree-background {
        @apply bg-[#FDE8F3];
    }
    .green-big-tree-background {
        @apply bg-[#F1FCDF];
    }
    .red-mushroom-tree-background {
        @apply bg-[#F8EFDC];
    }
    .pink-mushroom-tree-background {
        @apply bg-[#FEF4FF];
    }
    .red-big-tree-background {
        @apply bg-[#F7DFD4];
    }
    .fire-tree-background {
        @apply bg-[#F7DFD4];
    }
    .banana-tree-background {
        @apply bg-[#F1FCDF];
    }
    .nav-hero-section-bg{
        width: 100%;
        position: relative;
        background-image: url("/assets/bg/nav-hero-section-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nft-impact-section-bg{
        width: 100%;
        position: relative;
        background-image: url("/assets/bg/nft-impact-section-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .how-section-bg{
        width: 100%;
        position: relative;
        background-image: url("/assets/bg/intro-grow-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #roadmap{
        @apply bg-[#FFFFFF];
    }

};